.local_files
*.pyc
*.autopep8_quotes
.*.swp
.travis-solo
MANIFEST
README.html
__pycache__
htmlcov
.python-version
.venv
venv
build
_build
dist
tmp
log
*.egg-info
.idea
.eggs
.mypy_cache
.benchmarks
.tox
pip-wheel-metadata
type_info.json
.coverage
.coverage.*
coverage.xml
